body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(212, 212, 212);
   
}

header{
    background-image: url(/ejercicio1/imagenes/uni.jpg);
    background-position: top;
    background-size: cover;
    height:450px;
    position:relative;
    justify-items: center;
    align-items: center;
   
}

.nombre{
    position:absolute;
    background-color: rgba(27, 45, 83, 0.76);
    color:white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
        
    
}

.nombre p{
    font-size: 20px;
}

nav{
    position: absolute;
    background-color: #003366;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    
  
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    
    margin-right: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover{
    color: #e9deaf;
}

.bienvenida h2{
    
    text-align: center;
}
.bienvenida p{
    text-align: left;
    text-indent: 30px;
}

section{
    text-align: center;
    border-style: solid;
    border-color: rgba(39, 9, 237, 0);
    border-radius: 15px;
    border-width: 2px;
    border-bottom: 25px;
    background-color: white;
    padding: 20px;
    margin:30px;
    justify-content: center;
    align-items: center;
    
}

article{
    text-align: justify;
    border-style: solid;
    border-radius: 10px;
    border-color:rgb(7, 35, 68) ;
    border-width: 2px;
    margin: 20px;
    width: 400px;
    padding: 10px;
    display:inline-table;
    background-color: rgb(209, 214, 215);
    justify-items: center;
    
}

.institucion article{
    height: 170px;
}

.facultad article{
    height: 350px;
    align-items: center;
    justify-items: center;
}

article h3{
    text-align: center;
}

article img{
    width: 98%;
    border-radius: 10px;
    margin: 5px;
}
